/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*COMMON*/
.container{
    width:80%;
    margin:0 auto;
}

/*HEADER*/
.header-back{
    background-color: #a0dbe5;
    display:flex;
    justify-content: center;
    align-items: center;
    /*DEBUG*/
    border: 1px solid black;
    min-height:100px;
}
.header-nav{
    display:flex;
    background-color: #e9a11f;
    margin:10px;

    /*DEBUG*/
    min-height:50px;
}