/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*COMMON*/
.center{
    width:80%;
    margin:0 auto;
}

/*FLEXBOX*/

.flexrwcenter{
    display:flex;
    justify-content: center;
    align-items: center;
}

.flexstart{
    display:flex;
    justify-content: flex-start;
}

.flexspacearound{
    display:flex;
    justify-content: space-around;
}

.flexspacebtwcenter{
    display:flex;
    justify-content:space-between;
    align-items: center;
}


.rowreverse{
    display: flex;
    flex-direction: row-reverse;
}

.colstretch{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content:stretch;
}



/*HEADER*/

.header-back{
    background-color: #a0dbe5;

    /*DEBUG*/
    /* border: 2px solid black; */
    min-height:100px;
}


/*HEADER NAVBAR*/

.header-nav{
    background-color: #e9a11f;
    margin:10px;

    /*DEBUG*/
    min-height:50px;
    /* border: 1px dashed black; */
}

.logo-header{
    width:200px;
    text-align: left;

    /*DEBUG*/
    border: 1px dashed black;
}

.header-search{
    width:200px;
    text-align: right;
    border: 1px dashed black;
}

.header-link{
    display:flex;
    flex-grow: 1;
    padding: 10px;

    /*BORDER*/
    border:1px dashed black;
}

.header-link ul{
    display: flex;
    justify-content: space-between;
}

.header-link li{
    list-style-type: none;
    margin: 0 10px;
}


.header-link li a{
    text-decoration: none;
    color: black;
}


.header-banner-back{
    background-color: #000282;
    min-height: 500px;
}

.header-banner{
    background-color: #ff79e8;
    min-height: 400px;
    min-width: 700px;

    /*DEBUG*/
    /* border: 3px dashed black; */
}

/*MAIN*/

.greybackground{
    background-color: #d7d4cf;
}





/*BOTTOM MAIN PART*/
.bottom-container{
    padding-top:20px;
    padding-bottom:20px;
}

.bottom-banner{
    background-color: #008a30;

    /*DEBUG*/
    /* border: 2px dashed black; */
    min-height: 700px;
}




/*MAIN CARD CONTAINER*/

.cardcontainer{
    margin-top: 20px;
    padding-top:20px;
    padding-bottom:20px;

    /*DEBUG*/
    /* border: 1px dashed black; */
    min-height: 500px;
}

.bluecard{
    background-color: #008fff;
    flex-grow: 1;

    /*DEBUG*/
    /* border: 1px dashed black; */
    min-height: 300px;
}

.pinkcard{
    background-color:#ffbec4;
    flex-grow: 0.6;

    /*DEBUG*/
    /* border: 1px dashed black; */
    min-height: 300px;
}

/*FOOTER*/

.blackground{
    background-color: #262a2c;
}

.top-footer{
    margin-top:20px;

    /*DEBUG*/
    min-height:400px;
    /* border: 1px dashed white; */
}

.bottom-footer{
    margin-top:20px;
    background-color: #0dffd5;

    /*DEBUG*/
    min-height:100px;
    /* border: 2px dashed red; */
}

/*TOP FOOTER COLUMNS*/

.maincolumn{
    flex-grow:0.4;
    background-color: #ff7671;

    /*DEBUG*/
    /* border: 2px dashed white; */
}

.linkpart{
    background-color: #00b4a6;
    flex-grow: 1;
    /*DEBUG*/
    /* border: 2px dashed white; */
}

.linkcolumn{
    width: calc(100%/4);
    /*DEBUG*/
    /* border: 2px dashed black; */
}

/*BOTTOM FOOTER SECTION*/

.frappecolour{
    background-color: #ffb2b8;
}

.bottom-footer-block{
    width: 60px;
    padding: 5px;
    text-align: center;
}