/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*COMMON*/
.center{
    width:80%;
    margin:0 auto;
}

/*FLEXBOX*/

.flexrwcenter{
    display:flex;
    justify-content: center;
    align-items: center;
}

/*HEADER*/

.header-back{
    background-color: #a0dbe5;
    
    /*DEBUG*/
    border: 1px solid black;
    min-height:100px;
}

.header-nav{
    background-color: #e9a11f;
    margin:10px;

    /*DEBUG*/
    min-height:50px;
    border: 1px dashed black;
}

.header-banner-back{
    background-color: #000282;
    min-height: 500px;
}

.header-banner{
    background-color: #ff79e8;
    min-height: 400px;
    min-width: 700px;
    
    /*DEBUG*/
    border: 3px dashed black;
}

/*MAIN*/

.cardcontainer{
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;

    /*DEBUG*/
    border: 1px dashed black;
    min-height: 300px;
}

.bluecard{
    background-color: #008fff;
    flex-grow: 1;
    /*DEBUG*/
    border: 1px dashed black;
    min-height: 300px;
}

.pinkcard{
    background-color:#ffbec4;
    flex-grow: 0.6;
    /*DEBUG*/
    border: 1px dashed black;
    min-height: 300px;
}